.screen {
    padding: 10vh 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4rem 50vh 4rem;
    row-gap: 2rem;
    grid-template-areas:
        "."
        "container"
        "navigation";
}

.home {
    grid-area: container;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.twoPanel {
    grid-area: container;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: 100%;
    grid-template-areas:
        ". panel1 panel2 .";
    column-gap: 1.33rem;
    width: 100%;
}

.threePanel {
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
        "panel1 panel2 panel3";
    column-gap: 2rem;
    width: 100%;
}

.navigation {
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}