.screen {
    padding: 3vh 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4rem 4rem 50vh 4rem;
    row-gap: 2rem;
    grid-template-areas:
        'header'
        'stages'
        'container'
        'navigation';
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home {
    grid-area: container;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


/* Stages */

.stages {
    grid-area: stages;
    display: table;
    table-layout: fixed;
    width: 80%;
    margin: auto;
}

.stages > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: blueviolet;
}

.stages > li:before {
    content: '\f00c';
    content: '\2713;';
    content: '\10003';
    content: '\10004';
    content: '\2713';
    display: block;
    margin: 0 auto 8px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    border: 2px solid blueviolet;
    border-radius: 50%;
}

.stages > li.active::before {
    content: counter(stepNum)
}

.stages > li.active ~ li {
    color: #808080;
}

.stages > li.active ~ li::before {
    content: counter(stepNum);
    color: #808080;
    background-color: #ededed;
    border-color: #ededed;
}

.stages > li::after {
    content: '';
    position: absolute;
    background-color: blueviolet;
    height: 2px;
    width: calc(100% - 36px);
    top: 16px;
    left: calc(50% + 18px);
}

.stages > li:last-child::after {
    display: none;
}

.stages > li.active::after, .stages > li.active ~ li::after {
    left: calc(50% + 18px + 2px);
    width: calc(100% - 36px - 2px);
    background-color: #ededed;
}

/*  */

.twoPanel {
    grid-area: container;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: 100%;
    grid-template-areas:
        ". panel1 panel2 .";
    column-gap: 1.33rem;
    width: 100%;
}

.threePanel {
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
        "panel1 panel2 panel3";
    column-gap: 2rem;
    width: 100%;
}


/* Navigation */

.navigation {
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    margin: 0%;
    font-size: .75rem;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: hsl(0, 0%, 10%);
    color:hsl(0, 0%, 90%);
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.footer p {
    margin: 0%;
    font-size: .75rem;
}

.author-links a:nth-child(2n - 1) {
    border-left: 1px solid hsl(0, 0%, 90%);
    border-right: 1px solid hsl(0, 0%, 90%);
}

.footer .author-links > * {
    padding: 0% .75rem;
}

.footer p > *:not(.author-url) {
    padding: 0% .75rem;
}

.footer img {
    height: .75rem;
}