html, body {
    font-family: Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    font-size: 1rem;
    background-color: lightblue;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    font-family: Helvetica, sans-serif;
}